.container {
    width: 60rem;
    margin: auto;
    padding: 1rem;
    border-radius: .6rem;
}

.fullWidth {
    width: 100%;
}

.halfWidth {
    width: calc(50% - 1rem); /* 50% do width com espaço entre os campos */
}

.halfWidth1{
    width: calc(85% - 5rem); /* 50% do width com espaço entre os campos */
}

.endereco  {
    text-align: center;
}

h1, p {
    text-align: center;
}

img {
    height: 320px ;
    margin: auto;
}

.section {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

button {
    margin-top: .5rem;
}

p {
    margin-top: 4rem;
    opacity: 0.5;
}

mat-icon {
    opacity: .7;
}