<div class="history-section">
  <div class="history-image">
    <img src="./assets/barberr.jpg" alt="Barbearia">
  </div>
  <div class="history-content">
    <h1>BARBER <span class="highlight">NET</span></h1>
    <p>
      BarberNet é uma aplicação de gerenciamento de barbearias, projetada para simplificar a administração e melhorar a eficiência
       do seu negócio. As principais funcionalidades incluem:
      <br><br>
      <strong>1. Gerenciamento de Clientes</strong><br>
      - <strong>CRUD Completo</strong>: Permite criar, mostrar, atualizar e deletar perfis de clientes.<br>
      - <strong>Envio de E-mails</strong>: Mensagem automáticas para confirmações de cadastro, agendamento, lembretes e promoções.<br><br>
      <strong>2. Gerenciamento de Cabeleireiros</strong><br>
      - <strong>CRUD Completo</strong>: Facilita o cadastro, consulta, atualização e remoção de cabeleireiros.<br>
      - <strong>Envio de E-mails</strong>: Notificações automáticas para confirmações de cadastro, lembretes e promoções.<br><br>
      <strong>3. Gerenciamento de Agendamentos</strong><br>
      - <strong>CRUD Completo</strong>: Agende, visualize, atualize e cancele atendimentos de maneira eficiente.<br>
      - <strong>Envio de E-mails</strong>: Mensagens automáticos para clientes e notificações para cabeleireiros sobre suas agendas.
      <br><br>
      Com BarberNet, a administração de uma barbearia nunca foi tão fácil e eficiente. As funcionalidades de gerenciamento de clientes,
       cabeleireiros e agendamentos, aliadas ao envio automático de e-mails, garantem que todos os aspectos operacionais do seu negócio
        estejam sempre sob controle. Transforme a forma como você gerencia sua barbearia com BarberNet e foque no que realmente importa:
         proporcionar uma experiência excepcional aos seus clientes.
    </p>
  </div>
</div>
