<div class="container " >
    <form class="form mat-elevation-z8">

        <h1>BarberNet - Diog007</h1>

        <img src="./assets/login.png" alt="Assist Tech - Diog007">
        
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input 
            required=""
            [(ngModel)]="creds.login"
            name="email" 
            matInput 
            placeholder="Ex. fulano@mail.com">
            <mat-icon matSuffix>email</mat-icon>
         </mat-form-field>
      
         <mat-form-field class="full-width" appearance="outline">
            <mat-label>Senha</mat-label>
            <input 
            required
            [(ngModel)]="creds.senha"
            name="senha" 
            type="password" 
            matInput 
            placeholder="Ex. 123">
            <mat-icon matSuffix>password</mat-icon>
         </mat-form-field>

        <button [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-flat-button  color="primary" (click)="logar()" >Login</button>
        <button routerLink="register" class="full-width mat-elevation-z4" mat-stroked-button color="primary">Sign Up</button>
    </form>

</div>
