.container {
    height: 100%;
    background-image: url('/assets/imagemLogin.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: center;

}

.form {
    width: 30rem;
    margin: auto;
    background: linear-gradient(90deg, #ffffff 0%, #cec3be 70%);
    padding: 1.8rem 3.5rem;
    border-radius: 1rem;
    gap: 10rem;
}

h1 {
    width: 100%;
    text-align: center;
}

img {
    height: 26rem;
    width: 100%;
    margin: 1.5rem auto 1.5rem auto;
}

.full-width {
    width: 100%;
}

button {
    margin-top: 1.5rem;
}

mat-icon {
    opacity: .6;
}