<div class="container mat-elevation-z8">
    <h1 class="full-width">Atualizar Agendamento</h1>
    <img class="full-width" src="./assets/agendar.svg" alt="Chamado image">
    
      <div class="cabeleireiro"> 
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>CABELEIREIRO ({{agendamento.nomeCabeleireiro}})</mat-label>
            <mat-select 
            [(ngModel)]="agendamento.cabeleireiro"
            name="cabeleireiro"
            [formControl]="cabeleireiro" 
            required>
              <mat-option *ngFor="let cab of cabeleireiros" value="{{ cab.id }}">{{ cab.nome }} </mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="cliente"> 
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>CLIENTE ({{agendamento.nomeCliente}})</mat-label>
            <mat-select
            [(ngModel)]="agendamento.cliente"
            name="cliente" 
            [formControl]="cliente" 
            required>
              <mat-option *ngFor="let cli of clientes" value="{{ cli.id }}">{{ cli.nome }}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <form class="form">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Preço Estimado</mat-label>
            <span matPrefix>R$</span>
            <input
                [(ngModel)]="agendamento.precoEstimado"
                name="precoEstimado"
                [formControl]="precoEstimado"
                required
                matInput
                type="number"
                step="0.01"
                placeholder="0.00">
        </mat-form-field>
    </form>
    

      <div class="status-prioridade">
        <mat-form-field appearance="outline">
            <mat-label>STATUS ({{agendamento.statusAgendamento}})</mat-label>
            <mat-select
            [(ngModel)]="agendamento.statusAgendamento"
            name="statusAgendamento"
            [formControl]="statusAgendamento"
            required>
              <mat-option value="PENDENTE">EM ABERTO</mat-option>
              <mat-option value="CONFIRMADO">AGUARDANDO</mat-option>
              <mat-option value="CONCLUIDO">CONCLUIDO</mat-option>
              <mat-option value="CANCELADO">CANCELADO</mat-option>
            </mat-select>
          </mat-form-field>
          
          
          <mat-form-field appearance="outline">
            <mat-label>METODO DE PAGAMENTO({{agendamento.metodoPagamento}})</mat-label>
            <mat-select
            [(ngModel)]="agendamento.metodoPagamento"
            name="metodoPagamento"
             [formControl]="metodoPagamento"
              required>
              <mat-option value="DINHEIRO">DINHEIRO</mat-option>
              <mat-option value="CARTAO_CREDITO">CARTAO CREDITO</mat-option>
              <mat-option value="CARTAO_DEBITO">CARTAO DEBITO</mat-option>
              <mat-option value="PIX">PIX</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <form class="form">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Data e Hora ({{agendamento.data}})</mat-label>
            <input
            [(ngModel)]="agendamento.data"
                matInput
                [matDatetimepicker]="datetimePicker"
                name="data"
                [formControl]="data"
                required
                placeholder="Selecione a data e hora">
            <mat-datetimepicker-toggle matSuffix [for]="datetimePicker"></mat-datetimepicker-toggle>
            <mat-datetimepicker #datetimePicker type="datetime"></mat-datetimepicker>
        </mat-form-field>
    </form>
      

      <button (click)="update()" [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-raised-button color="primary">Adicionar</button>
      <button routerLink="../../" class="full-width mat-elevation-z4" mat-stroked-button color="warn">Cancelar</button>
      
      <p class="full-width">Desenvolvido por Diogo Nascimento.</p>
</div>