.container {
   height: 105%;
   background-color: #6060634a;
 }
 
 .menu-panel {
   display: flex;
   justify-content: center;
 }
 
 .menu-panel .mat-menu-content {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 a {
  border: 0.11rem solid #15121264;
 }

 .oi {
  translate: 100%;
 }

 .opcoes {
  border: 0.1rem solid #ffffff;
  border-left: 0.6rem solid #ffffff;
  border-right: 0.6rem solid #ffffff;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #333333 0%, #1c1c1c 70%);
  color: #ffffff;
  border-radius: .8rem;
  font-size: 240px;
 }
 
 .sidenav {
   width: 25rem;
   color: #ffffff;
   background: #645c5c;
   background: linear-gradient(90deg, #333333 0%, #5c5c64 70%);
   box-shadow: 0 4px 8px rgba(0, 0, 0);

 }
 
 img {
   width: 80%;
   height: 17rem;
   margin: 1rem auto 0rem auto;
   margin-left: 3rem;
 }
 
 .sidenav a {
  color: #ffffff !important;
  font-size: 1.2rem;
  margin: 0.3rem 2;
  display: flex;
  align-items: center;
}

 .sidenav i {
   margin-right: 0.8rem;
   margin-left: 2.0rem;

   font-size: 1.8rem;
   color: #ffffff;
 }
 
 .menu {
   margin: 1.5rem 0 0 1rem;
   color: #ffffff;
   background: #333333;
   background: linear-gradient(90deg, #333333 0%, #1c1c1c 70%);
   border: 1px solid #444;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
 }

 .cor {
   color: #fdfdfd;
 }
 
 mat-form-field {
   width: 100%;
   height: 2%;
 }
 
 mat-label, mat-select, mat-form-field, mat-label, mat-option {
   background: #333333;
   background: linear-gradient(90deg, #333333 0%, #1c1c1c 70%);
   color: #ffffff;
 }
 
 .mat-list-item {
   border-radius: 5px;
   transition: background-color 0.3s, transform 0.3s;
   color: #ffffff !important;
 }
 
 .mat-list-item:hover {
   background-color: rgba(255, 255, 255, 0.1);
   transform: translateX(5px);
 }

 .opcoes {
  color: white;
}

.opcoes:hover {
  color: white;
}

 
 .opcoes a {
   color: #ffffff !important;
   font-size: 1rem;
 }
 
 button.menu {
   background-color: #333333;
   color: #ffffff;
   border: 1px solid #444;
   transition: background-color 0.3s, transform 0.3s;
 }
 
 button.menu:hover {
   background-color: #444444;
   transform: scale(1.05);
 }
 
 mat-icon {
   color: #ffffff;
 }
 